@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-xxs: 360px;
}

:root {
  --background: #feffee;
  --foreground: #171717;
  --gray: #333;
  --low-gray: #cdcdcd;
  --dark-gray-90: #22222290;
  --medium-gray: #aaa;
  --translucid: #00000012;
  --red: #d41010;
  --shadow: #00000070;
  --theme-red: #ce0000;
  --theme-yellow: #ed8a00;
  --glow-bg: 0 0 8px rgba(255, 255, 255, 0.6), 0 0 16px rgba(255, 255, 255, 0.4), 0 0 32px rgba(255, 255, 255, 0.25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #060606;
    --foreground: #fafafa;
    --gray: #ccc;
    --low-gray: #222;
    --medium-gray: #111;
    --translucid: #ffffff10;
    --red: #d41010;
    --shadow: #000000;
    --theme-red: #ff3535;
    --theme-yellow: #ffff30;
    --glow-bg: 0 0 8px rgba(0, 0, 0, 0.6), 0 0 16px rgba(0, 0, 0, 0.4), 0 0 32px rgba(0, 0, 0, 0.25);
  }
}

[data-theme="light"] {
  --background: #feffee;
  --foreground: #171717;
  --gray: #333;
  --low-gray: #cdcdcd;
  --dark-gray-90: #22222290;
  --medium-gray: #aaa;
  --translucid: #00000012;
  --red: #d41010;
  --shadow: #00000070;
  --theme-red: #ce0000;
  --theme-yellow: #ed8a00;
  --glow-bg: 0 0 8px rgba(255, 255, 255, 0.6), 0 0 16px rgba(255, 255, 255, 0.4), 0 0 32px rgba(255, 255, 255, 0.25);
}

[data-theme="dark"] {
  --background: #060606;
  --foreground: #fafafa;
  --gray: #ccc;
  --low-gray: #222;
  --medium-gray: #111;
  --translucid: #ffffff10;
  --red: #d41010;
  --shadow: #000000;
  --theme-red: #ff3535;
  --theme-yellow: #ffff30;
  --glow-bg: 0 0 8px rgba(0, 0, 0, 0.6), 0 0 16px rgba(0, 0, 0, 0.4), 0 0 32px rgba(0, 0, 0, 0.25);
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html::-webkit-scrollbar-track {
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--translucid);
}

.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-overflow {
  max-width: 100dvw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100dvw;
  overflow-x: hidden;
  transition: 0.4s;
}

.default-h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

@media (width < 620px) {
  .default-h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
}

.color-gray {
  color: var(--gray);
}

.border-low-gray {
  border-color: var(--low-gray);
}

.border-translucid {
  border-color: var(--translucid);
}

.bg-translucid {
  background-color: var(--translucid);
}

.bg-translucid-50 {
  background-color: #444444;
}

.hover-bg-translucid:hover {
  background-color: var(--translucid);
}

.bg-low-gray {
  background-color: var(--low-gray);
}

.bg-dark-gray-90 {
  background-color: var(--dark-gray-90);
}

.bg-degraded-b {
  background: linear-gradient(
    to bottom,
    var(--background),
    var(--background),
    var(--background),
    var(--background),
    var(--background),
    #ff000030,
    #ff000060
  );
}

.bg-degraded-l {
  background: linear-gradient(
    to left,
    var(--background),
    var(--background),
    var(--background),
    var(--background),
    var(--background),
    #ff000030,
    #ff000060
  );
}

.bg-speckled {
  background-image: radial-gradient(var(--medium-gray) 1px, transparent 1px);
  background-size: 8px 8px;
}

.bg-degraded-t-speckled {
  background-image:
    radial-gradient(var(--translucid) 1px, transparent 1px),
    linear-gradient(
      to top,
      var(--background),
      var(--background),
      var(--background),
      var(--background),
      var(--background),
      #ff000030,
      #ff000060
    );

  background-size:
    8px 8px,
    cover;
  background-position:
    0 0,
    center;
}

.bg-degraded-l-speckled {
  background-image:
    radial-gradient(var(--translucid) 1px, transparent 1px),
    linear-gradient(
      to left,
      var(--background),
      var(--background),
      var(--background),
      var(--background),
      var(--background),
      #ff000030,
      #ff000060
    );

  background-size:
    8px 8px,
    cover;
  background-position:
    0 0,
    center;
}

.bg-degraded-b-speckled {
  background-image:
    radial-gradient(var(--translucid) 1px, transparent 1px),
    linear-gradient(
      to bottom,
      var(--background),
      var(--background),
      var(--background),
      var(--background),
      var(--background),
      #ff000030,
      #ff000060,
      #ff000080
    );

  background-size:
    8px 8px,
    cover;
  background-position:
    0 0,
    center;
}

.custom-gray-button {
  border: 1px solid var(--translucid);
  cursor: pointer;
  padding-inline: 16px;
  padding-block: 8px;
  border-radius: 8px;
  background-color: var(--low-gray);
  transition: 0.3s;
  &:hover {
    opacity: 0.8;
  }
  &.has-icon {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

.cta-button {
  cursor: pointer;
  border-radius: 8px;
  padding-block: 12px;
  padding-inline: 22px;
  background-color: var(--red);
  color: #fafafa;
  transition: 0.3s;
  border: 2px solid var(--translucid);
  gap: 4px;
  font-weight: bold;
  &:hover {
    opacity: 0.8;
  }
  &.small {
    padding: 6px 12px;
    scale: 0.8;
  }
  &.has-icon {
    display: flex;
    align-items: center;
  }
  &.glow-red {
    box-shadow:
      0 0 8px rgba(255, 0, 0, 0.6),
      0 0 16px rgba(255, 0, 0, 0.4),
      0 0 32px rgba(255, 0, 0, 0.25);
  }
}

.glow-red {
  box-shadow:
    0 0 8px rgba(255, 0, 0, 0.6),
    0 0 16px rgba(255, 0, 0, 0.4),
    0 0 32px rgba(255, 0, 0, 0.25);
}

.glow-bg {
  box-shadow: var(--glow-bg);
}

.react-tel-input .selected-flag,
.react-tel-input .flag-dropdown.open .selected-flag {
  background-color: transparent !important;
  color: var(--foreground);
  &:hover {
    background-color: var(--low-gray) !important;
  }
}

.react-tel-input .flag-dropdown .country {
  background-color: var(--medium-gray) !important;
}

.react-tel-input .flag-dropdown .country:hover,
.react-tel-input .flag-dropdown .country.active,
.react-tel-input .flag-dropdown .country[aria-selected="true"] {
  background-color: var(--low-gray) !important;
}

.text-foreground {
  color: var(--foreground);
}

:root {
  --time-icon-invert: 0;
}

[data-theme="dark"] {
  --time-icon-invert: 1;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(var(--time-icon-invert));
}

.cta-button:hover {
  transform: scale(1.05);
}

@keyframes planBtnAnim {
  0% {
    box-shadow:
      0 0 5px rgba(128, 0, 0, 0.6),
      0 0 10px rgba(128, 0, 0, 0.4);
  }
  50% {
    box-shadow:
      0 0 15px rgba(128, 0, 0, 0.9),
      0 0 25px rgba(128, 0, 0, 0.7);
  }
  100% {
    box-shadow:
      0 0 5px rgba(128, 0, 0, 0.6),
      0 0 10px rgba(128, 0, 0, 0.4);
  }
}

.hide-on-400px {
  @media (max-width: 400px) {
    display: none;
  }
}

.show-on-400px {
  @media (min-width: 401px) {
    display: none;
  }
}

/* Chrome, Edge, Safari */
.starred-scroll::-webkit-scrollbar {
  height: 6px;
}

.starred-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.starred-scroll::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 999px;
}

/* Firefox */
.starred-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}
